.btn-success{color:white!important;border-color:green!important;background-color:green!important;}
.input-detail{margin-top:10px;}
.clock-button{border-color:#ccc;}
.input-detail{width:100%;}
.label-input{width:20%!important;}
.form_button{padding-top:10px;text-align:center;}
.title{background-color:#b4cdec;margin-top:10px;height:50px;}
.title-icon{height:50%;width:5%;margin-top:10px;}
.title-detail{font-weight:700;font-size:20px;margin:0.75% 0 0 0;color:#000080;}
.user-avatar{height:5%;width:5%}
.details-icon{margin-right:5px;}
.warehouse-content p{font-weight:500;font-size:16px;min-height:25px;margin:0;}
.warehouse-content{margin-top:4%;color:black!important;}
.warehouse-data{margin-top:2%;}
.warehouse-detail{margin-top:20px;}
.note{font-weight:700;color:#075fa1;}
.price{color:red!important;}
.warehouse-news{margin-top:2%;}
.warehouse-image{height:80px;width:23%;}
.warehouse-detail-image{width:25%;height:25%;}
.related-news{padding-left:1.5%;margin-top:20px;}
.news-image-warehouse-detail{height:100%;width:100%;}
.related-news-headline{font-weight:700;color:#5888c1;}
.warehouse-product{color:black;margin:0;}
.img-code.related{color:black;width:100%;}
.related-img{width:13%;}
img.img-warehouse{width:93%;margin-top:20%;}